* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

.dark {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #ccc;
  --bg-color: #000;
  --heading-color: #818cab;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
}
main {
  flex: 1 0 auto;
  height: 100%;
  /* margin: 24px auto; */
  background-color: var(--bg-color);
  color: var(--font-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  transition: 0.6s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  top: 5px;
  left: 5px;
  background-color: #f9d71c;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 15px white;
  transition: 0.6s;
}

input:checked + .slider {
  /* background-color: #2196f3; */
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translate(24px) rotate(0deg);
  box-shadow: 5px 3px 0px 0px #fff;
  border-radius: 50%;
  background-color: black;
  top: 0px;
  left: 0px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* .slider.round::after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: rotateZ(-50deg);
  background-color: pink;
} */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* body {
  display: grid;
  grid-template-rows: auto 1fr auto;
} */

/* .container-fluid {
  display: flex;
  border-bottom: 2px solid #cccccc;
  background-color: #ffffff;
  margin-bottom: 80px;
  max-height: 45px;
}

.profileBottom {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.companyImages {
  flex-wrap: wrap;
  margin-bottom: 25px;
  max-width: 75px;
  max-height: 178px;
}

.navbar {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

#icons {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

li {
  margin: 0px 50px;
}

.icons {
  min-height: 100px;
  align-items: center;
  margin-top: 1em;
}

.container {
  max-width: 960px;
  margin: auto;
  color: #777777;
}
*/

.profile {
  margin: 0 0 1em 0;
}

.footer {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  text-align: center;
  width: 100%;
  height: 60px;
}

/* h2 {
  color: #000000;
  padding-left: 10px;
}

p.body {
  margin: 0 2em;
}

p {
  color: #000000;
}

iframe {
  margin: auto;
}

.iframe {
  display: flex;
  justify-content: center;
}

li {
  display: table-cell;
  padding: 5px;
  margin: 0;
}

.effect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 0 3em 5em 0;
}

.effect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.effect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.effect.gem:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 .0  0 0 0 0 .27  0 0 0 0 .48  0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.train:hover img {
  filter: opacity(0%);
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.movieBot:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 0.0  0 0 0 0 0.0  0 0 0 0 0.0  0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.bamazon:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 1.0 0 0 0 0 0.60 0 0 0 0 0.0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.friend:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 0.2314  0 0 0 0 0.3490  0 0 0 0 0.5961  0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.burger:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 0.0 0 0 0 0 1.0 0 0 0 0 1.0  0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.sequelize:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 .5 0 0 0 0 .0 0 0 0 0 .5  0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.trafficMon:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 1.0 0 0 0 0 1.0 0 0 0 0 0.0  0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.simpsons:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 0.50196078431 0 0 0 0 0.0 0 0 0 0 0.0  0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect.reactTraffic:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0 0 0 0 1.0 0 0 0 0 0.87058823529 0 0 0 0 0.67843137254 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  -webkit-transform: scale(1.2, 1.6);
  -ms-transform: scale(1.2, 1.6);
  transform: scale(1.2, 1.6);
  transform-style: preserve-3d;
}

.effect h3 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.effect p,
.effect a {
  text-align: center;
  position: relative;
  font-size: 12px;
  padding: 10px;
}

.effect h3,
.effect p,
.effect i {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  text-transform: uppercase;
}

.effect:hover h3,
.effect:hover p,
.effect:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

p.black {
  color: #000000;
} */

@media (prefers-color-scheme: dark) {
  /* main {
    background: #191a19;
  } */
}
